a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #dd4b39;
}
.social-icon {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.social-twitter {
    background-color: #55acee;
}
.social-facebook {
    background-color: #3b5999;
}
.social-google,.social-instagram  {
    background-color: #dd4b39;
}
.social-icon i {
    transition: 0.4s all;
}
.social-icon:hover i {
    transform: scale(1.3);
}
.nav-item:hover {
background-color: #dd4b39;
}
.dropdown-item:hover {
    background-color: #dd4b39;
    }
#myCarousel, .navbar, thead, .carousel-item, .accordion-item {
    border-bottom: 0.4rem solid;
    border-color: #dd4b39;    
}
.footer {
    border-top: 0.4rem solid;
    border-color: #dd4b39;
}
.carousel-item {
    background-color: black;
}
.carousel-item img {
    opacity: 0.5;
    min-height: 200px;
    max-height: 600px;
    object-fit: cover;
}
.teamLogo {
    height: 3rem;
    width: 4rem;
}
.btn {
background-color: #dd4b39;
border: none;
}
